.sidebar {
	-webkit-overflow-scrolling: touch;
	overflow: auto;

	&.slideout-drawer-transition {
		@include transition(all 0.25s ease);
	}

	.navbar {
		margin-bottom: 0;
	}

	.navbar-no-collapse .navbar-nav {
		margin: 0 15px;
	}
}

.sidebar-header {
	padding: 52px 12px 20px 24px;
}

.sidebar-header-actions {
	float: right;

	li {
		padding: 0;
	}

	a {
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

.sidebar-body {
	font-size: 14px;
	overflow: auto;
	padding: 24px;
}

.sidebar-panel-default {
	background-color: lighten($brand-default, 30%);
	height: 155px;
}

.sidebar-default {
	background-color: #F5F8FA;
	border-left: 1px solid #DFE0E3;
	height: 100%;
	min-height: 781px;
	overflow: hidden;
}

/* Adds scrim to sidebar */

.sidebar-scrim:before {
	background-color: rgba(0,0,0,0.3);
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1500;
	transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
}

.closed.sidebar-scrim:before {
	visibility: hidden;
	opacity: 0;
}

@media (min-width: $grid-float-breakpoint) {
	.sidebar-scrim:before {
		visibility: hidden;
		opacity: 0;
	}
}