body {
	-webkit-font-smoothing: antialiased;
}

header.row {
	margin: 0;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section.row {
	margin-bottom: 45px;
}

.box-copy > h4 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.page-title {
	color: $brand-anchor;
	font-weight: 200;
	margin: 40px 0 25px -12px;
}

.row-spacing {
	margin-bottom: 20px;
}

#headerTopBar {
	background: $brand-dark;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 4000;

	a {
		color: #FFF;
	}

	.title {
		float: left;
		margin-bottom: 16px;
		margin-top: 16px;

		a:hover {
			text-decoration: none;
		}
	}

	.navbar-toggle {
		float: left;
		margin-left: -10px;
		margin-top: 8px;

		.icon-bar {
			background-color: #FFF;
		}
	}
}

#mainContainer {
	bottom: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 51px; // Clear header
	width: auto;
	z-index: 0;

	&:before {
		z-index: 2500;
	}
}

#mainNav {
	background: #{ "linear-gradient(to left, #FCFEFF, #F5F8FA)" }; // Interpolation workaround for Bourbon linear-gradient conflict
	border-right: 1px solid #DFE0E3;
	overflow: hidden;
	padding-bottom: 20px;
	z-index: 3000;

	&:hover {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.active > a, .active:hover > a {
		border-left: 2px solid #35ABFF;
		font-weight: 400;
		padding-left: 33px;
	}

	.caret {
		transform: rotate(0deg);
		transition: transform 0.1s ease-in-out;
	}

	.collapsed > .side-navigation-dropdown > .caret{
		transform: rotate(-90deg);
	}

	.side-navigation-dropdown-container > .nav-item-container:not(.collapsed) {
		border-left: 2px solid #B0BEC9;
		padding-left: 14px;
	}

	li {
		background-color: transparent;
		margin-bottom: 0;

		> a {
			color: $brand-default;
			padding-right: 0;

			&:hover {
				text-decoration: none;
			}
		}

		&:not(.active) > .nav-item-container:hover {
			background-color: $brand-light;
		}
	}
}

#mainContent {
	bottom: 0;
	box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.2);
	left: 0;
	margin: 0;
	overflow-y: auto;
	padding: 0 15px; // Cancel negative margins on row
	position: absolute;
	right: 0;
	top: 0;
}

.animated-toggle.navbar-toggle .icon-bar {
	position: relative;
	top: 0;

	@include transition-property(background, opacity, top, transform);
	@include transition-duration(0.2s);
	@include transition-timing-function($ease-in-out-circ);
	@include transition-delay(0s 0s 0.2s 0s);
}

.main-nav-open {
	.animated-toggle.navbar-toggle {
		.icon-bar:nth-of-type(even) {
			top: 6px;

			@include transform(rotate(45deg));
			@include transition-delay(0s 0s 0s 0.2s);
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;

			@include transform(rotate(-45deg));
		}

		.icon-bar:nth-of-type(odd) {
			background-color: transparent;
			opacity: 0;
		}
	}
}

#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

#wrapper {
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

// Alerts Page

.uxgl-alerts {
	.alert {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .alert {
		margin-top: 10px;
	}
}

// Breadcrumbs Page

.uxgl-breadcrumbs {
	.breadcrumb {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .breadcrumb {
		margin-top: 10px;
	}
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

/* Media Queries */

@media (min-width: $screen-sm-min) {
	#wrapper {
		overflow-x: visible;
	}
}

// Extending Nameplates Page

.uxgl-extending-nameplates {
	.profile-header {
		float: left;
		margin-bottom: 15px;
	}
}

// Switches Page
.uxgl-switches {
	@include clearfix;

	.form-group {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: $grid-float-breakpoint) {
	.uxgl-switches .form-group {
		width: 115px;
	}
}

// Toolbars

.uxgl-toggle-code {
	clear: both;
	padding-bottom: 5px;

	.btn {
		border-radius: 2px;
	}
}

.uxgl-newline-demo blockquote {
	margin-top: 40px;
}

.uxgl-newline-demo h3:first-child + blockquote {
	margin-top: 0;
}

@media screen and (min-width: 1200px) {
	.uxgl-lg-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.uxgl-md-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.uxgl-sm-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (max-width: 768px) {
	.uxgl-xs-newline-demo {
		background-color: #FFFEDC;
	}
}